factory/pipeline/History.json
{
	"name": "History",
	"properties": {
		"description": "Get historical data of taxi trips",
		"activities": [
			{
				"name": "HistoryMetaLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ShotgunSQLServer",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEachYearMonth",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "HistoryMetaLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('HistoryMetaLookup').output.value[0].YearMonth",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Test",
								"value": "0"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Test": {
				"type": "String",
				"defaultValue": "000"
			}
		},
		"annotations": []
	}
}