factory/pipeline/History.json
{
	"name": "History",
	"properties": {
		"description": "Get historical data of taxi trips",
		"activities": [
			{
				"name": "HistoryMetaLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ShotgunSQLServer",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ForEachYearMonth",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "HistoryMetaLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('HistoryMetaLookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "NYC_Taxi",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().yearmonth",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Shotgun_Lake",
									"type": "DatasetReference",
									"parameters": {
										"FileName": "@item().YearMonth"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}